*.o
*.exe
*.hi
*.bak
ignored
sketches

dist
dist-newstyle
ignored

goinvgen.cabal

# Generated Promela front-end
src/Promela/*.hs
src/Promela/*.x
src/Promela/*.y
src/Promela/*.txt
!src/Promela/Ast.hs
!src/Promela/GetAst.hs
!src/Promela/Utilities.hs

# Generated Trace front-end
src/Trace/*.hs
src/Trace/*.x
src/Trace/*.y
src/Trace/*.txt
!src/Trace/Ast.hs
!src/Trace/GetAst.hs

# Generated IR front-end
src/IR/*.x
src/IR/*.y
src/IR/*.txt
src/IR/*IR.hs
src/IR/ErrM.hs

# Miscellaneous
*.pre

# Stack-generated
.stack-work/
*~

# Output
output
